.vantagens-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
}

.perguntas dl>div:nth-child(odd) {
    background-color: #f2f2f2;
}

.perguntas dl dt {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.perguntas div+div {
    margin-top: 24px;
}

.perguntas dd {
    padding-top: 8px;
    padding-left: 22px !important;
    max-width: 70ch;
}

.perguntas dl dt::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 12px;
    height: 4px;
    background-color: #ffbb00;
    margin-right: 8px;
}

.perguntas dl dt::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 14px;
    height: 6px;
    background: url(../assets/icones/seta-abrir.svg);
    margin: auto 8px auto 0px;
    transition: .3s;
}

.perguntas dl dt:hover::after {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .perguntas dl dt::before, .perguntas dl dt::after{
        margin-top: 15px;
        margin-bottom: auto;
    }
}